/* Style général */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff, #dbe6f6);
    color: #333;
    height: 90%;
    
}


/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ccc;
    height: 5%;
}

nav button {
    background-color: #00bcd4;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 5px;
    cursor: pointer;
}


.logo img {
    width: 80px;
}

footer {
    background-color: #333; /* Couleur du fond du footer */
    color: white; /* Couleur du texte */
    padding: 10px;
    text-align: center;
    width: 100%;
}
